PORT=8080
MONGO_URI=mongodb+srv://dbuserpnv:YFuBHCezHN8XjDPV@pnv-cluster.yks4ila.mongodb.net/uiop
CLIENT_URL=http://localhost:5173
# CLIENT_URL=https://pnv-ten.vercel.app
RESEND_API_KEY=re_NzntW4nF_6fEocUq1XAjCv7u3wu2Z4BWh
JWT_SECRET=your-jwt-secret-change-in-production
ADMIN_EMAIL=winexe09@gmail.com
FROM_EMAIL=noreply@pnventerprises.in
ADMIN_TOKEN=admin-secret-token
IMAGEKIT_ID=sljqsazoe
IMAGEKIT_PUBLIC_KEY=public_SdaZp+tqTR1ImQ2N6bow/Qd+G48=
IMAGEKIT_PRIVATE_KEY=private_uN9NAO1f4IjkHZzZEI5CCdNEt48=

